.container-sm{
    display: flex;
    border-bottom: 2px solid red;
    padding: 30px;
}
.table{
    width: 100%;
}
.table{
    
    background-color: lightblue;
    
    
}
.table ,th,td{ 
        border: 1px solid black;
        border-collapse: collapse;
        padding-bottom: 50px 20px;
        margin-bottom: 1px solid gray;
      
}
.table,th, td {
    color: black;
    padding: 5px;
    text-align: left;
  }
